@import "/src/shared/ui/styles/var";

.nav {
	display: none;
	align-items: baseline;
	justify-content: center;
	gap: 40px;
	position: fixed;
	z-index: 950;
	bottom: 0;
	left: 0;
	width: 100vw;
	padding: 5px 10px;
	height: 60px;
	background-color: $bg-color;
}

.link {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	position: relative;
	color: #ffffff;
	min-width: 52px;

	&.button {
		.icon {
			color: #ffffff !important;

			&_wrap {
				background-color: $primary-color;
			}
		}

		.text {
			transform: translateY(5px);
			color: #ffffff;
		}
	}

	&.active {
		.icon,
		.text {
			color: $primary-color;
		}
	}
}

.icon {
	color: #dcdcdc;
	transition: 0.3s;

	&_wrap {
		width: 36px;
		height: 36px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.3s;
		margin-bottom: -3px;
	}
}

.text {
	transition: 0.3s;
	color: #dcdcdc;
	font-size: 14px;
}

.counter {
	position: absolute;
	top: 15px;
	right: -3px;
	border: none !important;
	box-shadow: none !important;

	& > * {
		box-shadow: none;
	}
}

@media (max-width: $sm) {
	.nav {
		display: flex;
	}
}

@media (max-width: 480px) {
	.nav {
		padding-top: 8px;
		padding-bottom: 9px;
		gap: 20px;
	}

	.text {
		font-size: 12px;
	}
}
@media (max-width: 374px) {
	.nav {
		padding-top: 3px;
		gap: 10px;
	}

	.text {
		font-size: 10px;
	}
}
