.sidebar_list_item {
	display: flex;
	font-weight: 700;
	color: #78838d;
	//padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;

	&:hover {
		color: #004db2;
	}

	&.small {
		font-weight: 300;
		font-size: 14px;
		line-height: 20px;
		margin: 0;
	}

	&.active {
		color: #004db2;
	}
}

.content {
	flex: 1;
}

.more {
	color: #1f2831;
}
