@import "/src/shared/ui/styles/var";

.ant-badge-count {
	border: none;
	box-shadow: none;
	flex-shrink: 0;
	background-color: $alert-color !important;
	display: flex !important;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.ant-badge-count {
	font-size: 12px;
	line-height: 21px;
	font-weight: 700;
}

.ant-scroll-number-only-unit {
	//text-align: center !important;
}
