.ant-modal-content {
}

.ant-modal-header {
	margin-right: 40px;
}

.ant-modal-title {
	font-family: "montserrat", sans-serif !important;
	font-style: normal !important;
	font-weight: bold !important;
	font-size: 20px !important;
	line-height: 140% !important;
}

.ant-modal-body {
}

.ant-modal-footer {
	display: flex;
	justify-content: flex-end;
}
