@import "/src/shared/ui/styles/var";

.row {
	display: flex;
	align-items: baseline;
	gap: 10px;
	padding-top: 10px;
	position: relative;

	&:not(:last-child) {
		border-bottom: $border;
		padding-bottom: 10px;
	}

	&:first-of-type {
		padding-top: 0;
	}

	@media (max-width: $xs) {
		flex-direction: column;
		align-items: flex-start;
		gap: 5px;
	}
}

.label_wrap {
	width: 150px;
	flex-shrink: 0;

	@media (max-width: $xs) {
		width: auto;
	}
}

.label {
	flex-shrink: 0;
	margin-bottom: 0 !important;
}

.description {
	color: $light-text-color;
	font-size: 12px !important;
}

.content {
	margin-bottom: 0 !important;
}
