@import "/src/shared/ui/styles/var";

.button {
	width: 100%;
	color: $text-color;
	max-width: 730px;

	&:hover {
		color: $secondary-color;
	}

	&:not(.bordered) {
		border: none;
	}

	&.bordered {
		box-shadow: none;
	}

	@media (max-width: $xs) {
		max-width: none;

		&.margin_like_card {
			margin-left: -10px;
			width: calc(100% + 20px) !important;
		}
	}
}

.icon {
	display: flex !important;
	justify-content: center;
	align-items: center;
	margin-left: 7px;
}
