$lg: 1440px;
$md: 1199px;
$sm: 991px;
$xs: 767px;

$primary-color: #7d624c;
$secondary-color: #b1a194;
$success-color: #44913c;
$warning-color: #ecc67a;
$alert-color: #b14b49;
$text-color: #2c2e2b;
$light-text-color: #ababaa;
$light-bg-color: #f2efed;
$border-color: #808280;
$bg-color: #2c2e2b;

$radius: 12px;
$radius_sm: 2px;
$border: 1px solid $border-color;
$shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
$transition: 0.3s;
